*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
    /* background-color:rgb(0, 0, 87); */
}

/* Intro Section */
#Intro
{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

#Profile-Picture
{
    /* border:1px solid red; */
    /* position: relative; */
    /* bottom: 90px; */
    /* -webkit-mask-image:linear-gradient(#000,rgba(0,0,0,0.2));
    mask-image:linear-gradient(#000,rgba(0,0,0,0.2)); */
    width:400px;
    height:600px;
    background-image: url("./images/pexels-italo-melo-881954-2379004.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* color: black; */
}

#Profile-Picture .effect
{
    background-color: white;
    height: 600px;
    width: 400px;
    -webkit-mask-image:linear-gradient(rgba(0,0,0,0.2),#000);
    mask-image:linear-gradient(rgba(0,0,0,0.2),#000);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#Info
{
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}


#Info h1
{
  font-size: 42px;
  padding: 20px 0px;
}

#Info h3
{
   font-size: 20px;
   padding-bottom: 20px;
   font-weight: normal;
}

#Info img
{
   height: 90px;
   width: 180px;
   padding-top: 0;
}
/* Contact Container */
#contact-container
{
   /* border:1px solid red; */
}

#contact-container #contact
{
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#contact h1
{
    padding:10px 0px;
    font-size: 35px;
    /* color:white; */
}

.font
{
    font-weight:normal;
    padding: 1px 0px;
    color: grey
}

#contact-container #contact .wrapper
{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 10px;
    /* border: 1px solid black; */
    position: relative;
    right:78px;
}

#contact .wrapper .box,#Mail #mobile
{
    height: 60px;
    width:60px;
    margin:10px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #141E30 0%, #243B55  51%, #141E30  100%);
}

#contact .wrapper .box svg
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

/* About Section */

#about-container
{
   margin-top: 50px;
   display: flex;
   justify-content: center;
   /* border:1px solid green; */
}

#about
{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px 20px;
   background-color: aliceblue;
   border-radius: 23px;
   width: 800px;
   /* width: 80%; */
}
#about h1
{
   padding-top: 10px;
   padding-bottom: 20px;
   font-size: 35px; 
}
#about .description
{
    font-size: 17px;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

/* Mail Section */

#Mail-container
{
  /* border:1px solid blue; */
}

#Mail-container,#gallery-container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#Mail 
{
    background-color: aliceblue;
    border-radius: 23px;
    width: 800px;
    /* width:80%; */
    padding: 20px 20px;
}

#Mail .mail-group
{
    padding: 10px 20px;
}

#Mail .mail-group .Topic
{
   font-size: 19px;
}

#Mail .mail-group .subtopic
{
   color:grey;
   font-size: 14px;
}

#Mail #mail-group-1
{
   display: flex;
   gap:10px;
   align-items: center;
   flex-wrap: wrap;
}

#Mail #mobile svg
{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#Mail .mail-group .btn
{
   font-size: 18px;
   padding: 5px 13px;
   border: none;
   border-radius: 30px;
   background-color:rgb(0, 0, 87);
   display: flex;
   flex-direction: row;
   gap:1px;
   align-content: baseline;
   color:white;
   cursor: pointer;
}

#Mail .mail-group .btn:hover
{
    background-color:rgb(0, 18, 122);
    border: 1px solid rgb(0, 0, 87);
}

#Mail .mail-group .btn svg
{
   -webkit-filter: invert(100%);
    filter: invert(100%);
    height: 20px;
}


/* gallery Section */

.img-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  /* border:1px solid darkorchid; */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
    background-color: aliceblue;
    width: 800px;
    /* width: 80%; */
    padding: 40px 20px;
    padding-top: 20px;
    border-radius: 50px;
  }

  #Heading
  {
     font-size: 17px;
  }

  .gallery .photos
  {
    display: flex;
    justify-content: center;
    gap:40px;
  }
  
  .gallery a {
    display: flex;
    justify-content: center;
  }
  
  .gallery img {
    width: 350px;
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.777);
  }
  
  .gallery img:hover {
    transform: scale(1.05);
  }
  
  .lightbox {
    display: none;
  }
  
  .lightbox:target {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
    overflow: hidden;
  }
  
  .lightbox img {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    border-radius: 10px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

/* Testimonial Container */
#Testimonial-container
{
  /* border:2px solid black; */
  display: flex;
  justify-content: center;
}

#Testimonial
{
   /* border:1px solid red; */
   border-radius: 23px;
   padding: 30px 50px;
   background-color: aliceblue;
}

/* Product Section */

#Product-Container
{
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

#Product
{
  /* border:1px solid red; */
}

#Product .outerBox
{
   /* border: 1px solid green; */
   display: flex;
   justify-content: center;
   gap: 45px;
   margin-bottom: 45px;
}

#Product .outerBox .innerBox
{
   /* border: 2px solid black; */
   background-color: aliceblue;
   padding: 30px 30px;
   border-radius: 23px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

.innerBox img
{
   height: 250px;
   /* width:258px; */
   padding-left: 20px;
   padding-bottom: 20px;
}

.innerBox h5
{
   font-weight: bolder;
   font-size: 18px;
   padding: 10px 0px 0px 0px;
}

.innerBox .prices
{
   margin-top: 30px;
   font-family: Helvetica, sans-serif;
}

.innerBox .btn1
{
  background-color: rgb(187, 0, 0);
  color: white;
}

.innerBox .btn2
{
  background-color: rgb(0, 189, 0);
  padding: 7px 20px;
  color: white;
  margin-left: 35px;
}


/* Footer */
footer
{
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 17px;
    text-align: center;
    color: grey;
}

@media all and (max-width: 870px) {
    /* body{
      background-color:#243B55;
    } */
     .gallery,#Mail,#about
     {
        width:80%;
     }
     .gallery .photos
    {
       flex-direction: column;
    }
    .gallery h2 u
    {
      font-size: 25px;
    }
     .gallery .photos img
    {
      width:80%;
    }
    /* #Testimonial
    {
       width:300px;
    } */
  #Product .outerBox
  {
    flex-direction: column;
    width:100%;
  }
  #Product .outerBox .innerBox
  {
     padding: 30px 50px;
  }
}



@media all and (max-width:420px)
{
  #Profile-Picture
  {
    width:100%;
  }
  #Profile-Picture .effect
  {
     width:100%;
  }

  #Info
  {
     width: 100%;
  }

  #contact-container #contact .wrapper
  {
     right:0px;
  }
}
